body {
  background: url('../images/black.jpg')
}

#jumbo {
  background: url('../images/clock.jpg') no-repeat center center;
  color: white;
  font-size: 100px;
  text-shadow: 0px 1px 25px #000;
  text-align: center;
  vertical-align: middle;
  font-family: 'Anton', sans-serif;
  padding-top: 20px;
  height: 200px;
  width: 100%
  display: block;
  box-shadow: #FFF 0px 1px 5px;
}

/*stylized the calendar input to match thematically*/
.calendar {
  position: relative;
  display: block;
  text-align: left;
  color: white;
  float: none;
  font-family: 'Anton', sans-serif;
  text-shadow: #000 0px 2px;
}

/*using input[type="date"] allows for modifying the html5 date picker using webkit */
input[type="date"]::-webkit-clear-button {
    /*font-size: 18px;
    height: 30px;
    position: relative;*/
    display: none;

  }
 input[type="date"]::-webkit-inner-spin-button {
    /*height: 28px;*/
    display: none;
  }

  /*input[type="date"]::-webkit-calendar-picker-indicator{
    font-size: 20px;
   }*/

/*style settings for the submit button*/
#buttons {
  background-color: #494949;
  color: white;
  width: 100px;
  height: 28px;
  border-radius: 25px;
  border-width:1px;
  border-style:outset;
  box-shadow: 0px 2px 5px #000;
}

#buttons:hover {
  box-shadow: inset 0px 0px 10px 1px #FFF;
}
/*style for calendar*/
#datefield {
  color: black;
}

#date {
  color: white;
  text-align: left;
  font-size: 20px;
  text-shadow: #000 0px 2px;
  font-family: 'Anton', sans-serif;
}

/*Style for accordian panel headers*/
.panels {
  height: 40px;
  border-radius: 2px;
  background: url('../images/Brushed.png');
  color: white;
  text-shadow: #000 0px 2px;
  text-align: left;
  padding: 15px;
  font-family: 'Anton', sans-serif;
  position: relative;
  box-shadow: #000 0px 2px 5px;
  border-radius: 25px;
}

/*innerglow effect when hovering over an accordian panel header*/
.panels:hover {
  box-shadow: inset 0px 0px 15px 3px #FFF;
}

footer {
  position: fixed;
  margin-bottom: 0;
  bottom: 0;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 15px;
  padding: 15px;
  background-color: #494949;
  color: white;
  height: 50px;
  width: 100%;
  text-shadow: #000 0px 2px;
  box-shadow: #FFF 0px -1px 3px;
}

/*styling for hyperlinks in news and books results*/
a:link {
  background-color: #494949;
  text-decoration: none;
  color: white;
  box-shadow: 0px 2px 5px #000;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  font-family: 'Anton', sans-serif;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
box-shadow: inset 0px 0px 5px 1px #FFF;
}
/*style for api credits in the footer*/
.credits {
  width: auto;
  float: right;
  margin-bottom: auto;
}

/*overwrite anchor styling and apply only to the credits class*/
.credits a {
  box-shadow: none;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

/*rounds panel body to match panel headers*/
#round {
  border-radius: 25px;
}

/*used to stop the accordion from extending below the footer*/
.footfix{
  margin-bottom: 100px;
}

/*overwrite anchor styling and apply only to the pagination elements*/
.pagination a{
  box-shadow: none;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}
